body {
  /* font-size: 40px; */
  font-family: "Arvo", serif;
}

.height {
  min-height: 100vh;
}
.height-80 {
  min-height: 80vh;
}
.height-60 {
  min-height: 60vh;
}

.title-underline {
  width: 300px;
  height: 10px;
  margin: 0 auto;
}
.about-picture {
  background: url(../img/about-hero.jpg) center/cover fixed;
  /* background-size: cover;
  background-position: center;
  background-attachment: fixed; */
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
.carousel-item {
  width: 100%;
  /* height: 60vh; */
  object-fit: cover;
}

.carousel-inner > .carousel-item {
  /* height: 35vh; */
  height: 50vh;
}

/* #filler {
  background: url(../img/grand-canyon.jpg) center/cover fixed;
} */

#filler,
#progress {
  background: linear-gradient(rgba(62, 162, 202, 0.5), rgba(255, 0, 0, 0.25)),
    url(../img/grand-canyon.jpg) center/cover fixed;
}

/* .blog-projects{

} */

/* .img-fluid {
  background: linear-gradient(rgba(62, 162, 202, 0.95), rgba(255, 0, 0, 0.5));
  height: 40vh;
  width: 100%;
} */
/* @media screen and (max-width: 750px) {
  /* from 500px and up */
/* .img-fluid {
    width: 100%;
    height: 32vh;
  } */
/* } */
